<!DOCTYPE html>
<html lang="en">
    <head>
        <title>An Afternoon of Improv presented by Laramie County Community College</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    </head>
    <body>
        <div class="container-fluid main">
            <!-- Alerts -->
            <div class="row">
                <div class="col-sm-12">
                    {% for message in get_flashed_messages() %}
                    <div class="{{ alert_class|safe }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Jumbotron -->
            <div class="jumbotron">
                <div class="container">
                    <h1><em>Join us for</em><span>An Afternoon of Improv!</span></h1>    
                    <p>
                        <time datetime="2016-03-04">Friday, March 4, 2016 at 2:00pm,</time>
                        in the <a href="http://lccc.wy.edu">Laramie County Community College</a> Playhouse.
                        <a class="btn btn-primary btn-lg guestlist-btn " href="{{ url_for('show_guests') }}"
                         {{ hidden|safe }}>View Guestlist</a>
                    </p>
                </div>
            </div>

            <!-- Dynamic Content -->
            {% block body %}{% endblock %}

            <!-- Contact Section -->
            <div class="container-fluid contact">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Meet your event hosts</h2>
                    </div>
                </div>
                <!-- Contact Cards -->
                <div class="row">
                    <!-- Jasons Card -->
                    <div class="col-sm-6 col-md-6">
                        <div class="card">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='j_pasqua.jpg') }}"
                                 alt="Jason Pasqua, Theatre Instructor">
                            <div class="card-block">
                                <h3>Jason Pasqua</h3>
                                 <h4 class="card-subtitle text-muted">Theatre Instructor</h4>
                                 <a class="card-link" href="mailto:jpasqua@lccc.wy.edu">jpasqua@lccc.wy.edu</a>
                            </div>
                        </div>
                    </div>

                    <!-- Nicks Card -->
                    <div class="col-sm-6 col-md-6">
                        <div class="card">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='bill.jpg') }}"
                                 alt="Nick Marlin, Admissions Representative">
                            <div class="card-block">
                                <h3>Nick Marlin</h3>
                                 <h4 class="card-subtitle text-muted">Admissions Representative</h4>
                                 <a class="card-link" href="mailto:jpasqua@lccc.wy.edu">nmarlin@lccc.wy.edu</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Contact Section -->
            </div>
                
        </div>
    </body
