{% extends "layout.html" %}
{% block body %}
<!-- Registration form -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form action="{{ url_for('register') }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="first_name" class="control-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Seth" required="true"/>
                </div>
                <div class="form-group">
                    <label for="last_name" class="control-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Rogen" required="true"/>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="email_id" name='email' placeholder="name@domain.com" required="true"/>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="make_public">
                            <input checked data-toggle="toggle" name="make_public" type="checkbox">Add me to me to the public guest list
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
